@charset "UTF-8";

*{

    margin: 0px;
    padding: 0px;
}

@font-face {

    font-family: 'Japones';
    src: url('../Fontes/go3v2.ttf') format('truetype');
    font-weight: normal;

}

@font-face {

    font-family: 'escrita';
    src: url('../Fontes/Butter.otf') format('opentype');
    font-weight: normal;

}

@font-face {

    font-family: 'Festa';
    src: url('../Fontes/Glossy\ Sheen\ Shine\ DEMO.ttf') format('truetype');
    font-weight: normal;

}

@font-face {

    font-family: 'grafite';
    src: url('../Fontes/Eastwood\ Italic.ttf') format('truetype');
    font-weight: normal;

}

:root{

    --cor1: #041424;
    --cor2: #247474;
    --cor3: #94bc8c;
    --cor4: #dcdc9c;
    --cor5: #f4e4bc;
    --cor6: white;

    --font-padrão: Arial, Verdana, Helvetica, sans-serif;
    --font-titulo: 'Japones';
    --font-paragrafos: 'escrita';
    --font-titulo2: 'Festa';
    --font-rodape: 'grafite';

}

body{

    font-family: var(--font-padrão);
    background-color: var(--cor5);
    height: 98vh;
    
}

header{

    background-color: var(--cor1);
    background-image: url('Imagens/logo.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: top left;

}

a > header >  h1{

    font-family: var(--font-titulo);
    color: var(--cor6);
    text-align: center;
    padding: 15px;

}

header > a > p{

    font-family: var(--font-paragrafos);
    color: var(--cor6);
    text-align: center;
    padding-bottom: 15px;

}

nav{

    background-color: #141436;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 15px;
    
}

nav > a{

    color: var(--cor6);
    padding-right: 7px;
    padding-left: 7px;
    text-decoration: none;
    
}

article{
    
    background-color: var(--cor2);
    margin: auto;
    margin: auto;
    max-width: 800px;
    min-width: 280px;


}

article > h2{

    color:var(--cor3);
    font-family:var(--font-titulo2);
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 6px;

}

article > p{

    color:var(--cor6);
    font-family: var(--font-padrão);
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    
}

strong{

    color:var(--cor5);
}

div{

    margin-top: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:var(--cor1);
   
}
   
footer{

    background-color: black;
    font-family: var(--font-rodape);
    font-size: 20px;
    text-align: center;
    padding: 10px;

}

article > picture > img{

    display: block;
    margin: auto;
    width: 50%;

}

a{

    color: var(--cor6);
    text-decoration: none ;

}

p{

    color: var(--cor6);
    padding-bottom: 5px;

}

a:hover{

    color:var(--cor5);

}
