
@charset "UTF-8";

*{

    margin: 0px;
    padding: 0px;

}

header{

    background-color: blue;
    color: aliceblue;
    padding-top: 40px;
    padding-bottom: 40px;

}

h1{

    text-align: center;

}

main{

    background-color: brown;
    padding-top: 500px;
    padding-bottom: 500px;
    color: white;

}

footer{

    background-color: rgb(53, 83, 0);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: aliceblue;
    
}