@charset "UTF-8";

*{

    margin: 0px;
    padding: 0px;
}

@font-face {

    font-family: 'Japones';
    src: url('../Fontes/go3v2.ttf') format('truetype');
    font-weight: normal;

}

@font-face {

    font-family: 'escrita';
    src: url('../Fontes/Butter.otf') format('opentype');
    font-weight: normal;

}

@font-face {

    font-family: 'Festa';
    src: url('../Fontes/Glossy\ Sheen\ Shine\ DEMO.ttf') format('truetype');
    font-weight: normal;

}

@font-face {

    font-family: 'grafite';
    src: url('../Fontes/Eastwood\ Italic.ttf') format('truetype');
    font-weight: normal;

}

:root{

    --cor1: #BF49F2;
    --cor2: #042484;
    --cor3: #fc5c1c;
    --cor4: #4F0070;
    --cor5: #000000;
    --cor6: white;

    --font-padrão: Arial, Verdana, Helvetica, sans-serif;
    --font-titulo: 'Japones';
    --font-paragrafos: 'escrita';
    --font-titulo2: 'Festa';
    --font-rodape: 'grafite';

}

body{

    font-family: var(--font-padrão);
    
}

header{

    background-color: var(--cor4);

}

header > h1{

    font-family: var(--font-titulo);
    color: var(--cor6);
    text-align: center;
    padding: 15px;

}

nav{

    background-color: var(--cor4);
    padding-bottom: 10px;
    
}

nav > a > button{

   background-color: #fc5c1c;
   color:var(--cor5);
   padding-right: 5px;
   padding-left: 5px;
   padding-top: 2px;
   padding-bottom: 2px;

}

nav > a{

    color: var(--cor6);
    padding-right: 7px;
    padding-left: 7px;
    text-decoration: none;
    
}

article{
    
    background-color:var(--cor5);
    margin: auto;

}

article > h2{

    color: var(--cor2);
    font-family:var(--font-titulo2);
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 6px;

}

article > p{

    color:var(--cor6);
    font-family: var(--font-padrão);
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    
}

strong{

    color: var(--cor3);

}

footer{

    background-color: var(--cor4);
    font-family: var(--font-rodape);
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

article > picture > img{

    display: block;
    margin: auto;
    width: 50%;
    padding-bottom:10px;

}

a{

    color: var(--cor6);
    text-decoration: none;
    
}

nav > a{

    font-family: var(--font-paragrafos);
    font-size: 20px;

}

a:hover{

    color: rgb(25, 226, 25);

}

abbr{

    text-decoration: none;
    
}

p{

    color: var(--cor6);
    padding-bottom: 5px;

}

div{

    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #042484;
   
}

div > p{

    color: var(--cor6);
    padding-bottom: 20px;

}

div > ul > li{

    color: var(--cor6);
    padding-bottom: 5px;
    
    
}

div > ul{

    padding-left: 10px;

}